

#ve47 .LabelText {
  font-family: AvenirNext;
}
#ve36 .GraphSkin {
  data-skin: PRESSED;
}
#ve79 .Header {
  background-color: #061728;
  color: #E9ECEF;
  transparency: 0.1;
  font-size: 10pt;
  text-align: center;
}
#ve79 .ReportElementContainer {
  padding: 25px;
}
#ve130 .Container {
  background-color: #081B2D;
  transparency: 0.65;
}
#ve47 .TipFill {
  fill-color: #081B2D;
}
#ve102 .ReportElementContainer {
  padding: 0px;
}
#ve79 .tableColumnbi260 {
  fill-color: #B0B7C2;
}
#ve36 .TipText {
  text-color: #FFFFFF;
}
.Other {
  fill-color: #FFFFFF;
}
#ve153 .Container {
  background-color: #081B2D;
  transparency: 0.65;
}
#ve79 .tableColumnbi261 {
  fill-color: #B0B7C2;
}
.Report {
  background-color: #040F21;
}
#ve104 .Container {
  background-color: #011829;
  transparency: 0;
}
#ve79 .tableColumnbi262 {
  fill-color: #B0B7C2;
}
#ve79 .tableColumnbi263 {
  fill-color: #B0B7C2;
}
#ve79 .tableColumnbi264 {
  fill-color: #B0B7C2;
}
#ve47 .GraphDataStyleDefault {
  marker-color: #B14C51;
  text-color: #B14C51;
  line-color: #B14C51;
}
#ve47 .ReportElementContainer {
  padding: 25px;
}
#vi100 .ReportPagePadding {
  padding: 0px;
}
#ve114 .ReportElementContainer {
  padding: 0px;
}
#ve36 .TipFill {
  fill-color: #081B2D;
}
#ve117 .Container {
  background-color: #081B2D;
  transparency: 0.55;
}
#ve36 .HeaderFill {
  transparency: 0;
  fill-color: #FFFFFF;
}
#vi105 .ReportPagePadding {
  padding: 0px;
}
#ve47 .DataText {
  font-family: AvenirNext;
}
#ve141 .Container {
  background-color: #A01B21;
  transparency: 0.02;
}
#ve8 .ReportElementContainer {
  padding: 0px;
}
#ve47 .ValueText {
  font-family: AvenirNext;
}
#ve8 .Container {
  background-color: #0D1A2D;
  transparency: 0.4;
}
#ve47 .GraphDataStyle2 {
  marker-color: #FFCC32;
  text-color: #FFCC32;
  line-color: #FFCC32;
}
#ve155 .Container {
  background-color: #A01B21;
  transparency: 0.02;
}
#vi110 .ReportPagePadding {
  padding: 0px;
}
#ve47 .GraphSkin {
  data-skin: PRESSED;
}
#ve117 .span1 {
  font-size: 28px;
}
#ve47 .GraphDataStyle1 {
  marker-color: #B14C51;
  text-color: #B14C51;
  line-color: #B14C51;
}
#ve117 .paragraph1 {
  text-align: center;
}
#ve79 .tableColumnbi93 {
  width: 124px;
}
#ve47 .GridLines {
  line-color: #F9EDC6;
}
.ReportElementContainer {
  padding: 0px;
}
#ve36 .GridLines {
  line-color: #F9EDC6;
}
#ve79 .Table {
  padding-top: 16px;
  row-color: #081B2D;
  horizontal-line-style: none;
  color: #F9EDC6;
  vertical-line-style: solid;
  transparency: 0.7;
  alt-row-color: #545B66;
}
#ve36 .Missing {
  color: #FFFFFF;
  marker-color: #FFFFFF;
  text-color: #FFFFFF;
  fill-color: #FFFFFF;
  line-color: #FFFFFF;
}
#ve134 .Container {
  background-color: #A01B21;
  transparency: 0.02;
}
#ve36 .GraphDataStyle1 {
  marker-color: #B14C51;
  text-color: #B14C51;
  line-color: #B14C51;
}
#ve36 .ReportElementContainer {
  padding: 25px;
}
#ve112 .ReportElementContainer {
  padding: 0px;
}
#ve36 .GraphDataStyleDefault {
  marker-color: #B14C51;
  text-color: #B14C51;
  line-color: #B14C51;
}

			